/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ensures main content pushes the footer to the bottom */
main {
    flex: 1; /* Fills available space between header and footer */
}

/* Footer styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.logo-link {
    text-decoration: none;
}

.logo {
    height: 50px;
    width: auto;
}

.header {
    background-color: #66BB6A;
}

.nav-link {
    color: white;
}